* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.25rem; /* 20px */
  --space-6: 1.5rem; /* 24px */
  --space-8: 2rem; /* 32px */
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./assets/fonts/BarlowCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url("./assets/fonts/BarlowCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  background: #090909;
  color: #e7e5e5 !important;
  overflow: hidden;
  padding: 16px;
  font-family: "Barlow Condensed";
}

.p-1 {
  padding: var(--space-1);
}
.p-2 {
  padding: var(--space-2);
}
.p-3 {
  padding: var(--space-3);
}
.p-4 {
  padding: var(--space-4);
}
.p-5 {
  padding: var(--space-5);
}
.p-6 {
  padding: var(--space-6);
}
.p-8 {
  padding: var(--space-8);
}

.gap-1 {
  gap: var(--space-1);
}

.gap-2 {
  gap: var(--space-2);
}

.gap-4 {
  gap: var(--space-4);
}

.mt-3 {
  margin-top: 3px;
}

.mx-2 {
  margin-left: var(--space-2);
  margin-right: var(--space-2);
}

.font-bold {
  font-weight: 700;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.content-center {
  align-content: center;
}

.items-center {
  align-items: center;
}

.loading-wave {
  display: flex;
  width: 200px;
  height: 30px;
  border-radius: 8px;
  background: linear-gradient(270deg, #3f3f3f, #717171, #9b9b9b);
  background-size: 600% 600%;
  animation: wave 2s ease infinite;
}

.font-md {
  font-size: 30px;
}

.font-base {
  font-size: 20px;
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
